<div class="testingDiv">
    <h1> food search</h1>
    <h2>results</h2>
    {{!-- each output will become a button that when they press will search dispensaries near them --}}
    {{#each yelpOutput}}
    <button class="yelpFood" data-lat={{coordinates.latitude}} data-long={{coordinates.longitude}}>
        <div>
            <p>Name: {{name}}</p>
            <p>Link:
                <a href={{url}}>
                    <p>{{url}}</p>
                </a>
            </p>
            <p>Rating: {{rating}}/5</p>
        </div>
    </button>
    {{/each}}
</div>

<script src='/assets/js/foodResults.js'></script>