
<content class="container">
  <h1>Feed Your Appetite</h1>
</content>


<div class="card-group">
   {{#each searchResults}}

<div class="cardResults">
    <button class='choiceBtn' data-image_url="{{image_url}}" data-truck_name ="{{name}}" data-foodLat='{{coordinates.latitude}}' data-foodLong='{{coordinates.longitude}}'
        data-foodName='{{name}}' data-dispLat='{{nearestDisp.coordinates.latitude}}'
        data-dispLong='{{nearestDisp.coordinates.longitude}}' data-dispName='{{nearestDisp.name}}'>
  <img src="{{image_url}}" class="card-img-top w-50">
<div class="card-body">
    <h5 class="card-title" style="color: rgb(126, 48, 48);">Food Truck | Dispencery</h5>
    <p class="card-text">{{name}}</p>
    <p class="card-text">{{nearestDisp.name}}</p>
</div>
<div class="card-footer">
    </div>
    </div>
   {{/each}}
</div>
  </div>

<div class="googleMap" id="map" style="height: 400px; background-size:cover: top:1200px"></div>
<script src="https://maps.googleapis.com/maps/api/js?key={{googleMapsApiKey}}&callback=initMap&v=weekly&channel=2" async></script>
<div class="save-choice-section">
  <button class="save-choice-btn">SAVE TO PROFILE</button>
</div>


<script src='/assets/js/searchResults.js'></script>
<script src='/assets/js/savedChoices.js'></script>