<div class="testingDiv">
    <h1> search</h1>
    <h2>results</h2>
    {{!-- each output will become a button that when they press will search dispensaries near them --}}
    {{#if food}}
    {{#each yelpOutput}}
    <button class="yelpFood" data-lat={{coordinates.latitude}} data-long={{coordinates.longitude}} data-alias={{alias}}
        data-id={{id}}>
        <div>
            <p>Name: <span class="foodName">{{name}}</span></p>
            <p>Link:
                <a href={{url}}>
                    <p>{{url}}</p>
                </a>
            </p>
            <p>Rating: {{rating}}/5</p>
        </div>
    </button>
    {{/each}}
    {{/if}}
    {{#if plant}}
    {{#each yelpOutput}}
    <button class="yelpPlant" data-lat={{coordinates.latitude}} data-long={{coordinates.longitude}} data-alias={{alias}}
        data-id={{id}}>
        <div>
            <p>Name: {{name}}</p>
            <p>Link:
                <a href={{url}}>
                    <p>{{url}}</p>
                </a>
            </p>
            <p>Rating: {{rating}}/5</p>
        </div>
    </button>
    {{/each}}
    {{/if}}
</div>

<script src='/assets/js/searchResults.js'></script>