<section class="user-profile-section">
    <div class="user-profile-card">

        <div class='user-profile'>
            <h1 class='username-title'>Your Saved Selections</h1>
            {{!-- <div class='user-password-change'>
                Change Password: <input type="text" class='change-password'>
            </div> --}}
            <div class='saved-items'>
                {{#each userData}}
                <div class='saved-item'>
                    <div class='saved-item-btn' data-foodLat='{{coordinates.latitude}}'
                        data-foodLong='{{coordinated.longitude}}' data-dispLat='{{nearestDisp.coordinates.latitude}}'
                        data-dispLong='{{nearestDisp.coordinates.longitude}}'>
                        <h2>Food Truck</h2>
                        <p>{{truck_name}}</p>
                        <h3>Nearest Dispensary</h3>
                        <p>{{dispensary_name}}</p>
                    </div>

                </div>

                {{/each}}
            </div>
        </div>
    </div>
</section>

